@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MHCL 2018 Teams - Players Allocation</h1>
    <p class="lead">All Teams information and players information available here.</p>
    <p>@Html.ActionLink("View All Teams", "Index", "MhclTeams", new { area = "" }, new { @class = "btn btn-primary btn-lg" })</p>
</div>